<div class="row">
  <div class="offset1 span10">
    <% @providers.each do |provider| %>
      <div class="span2">
        <h3><%= provider.capitalize %></h3>
      </div>
    <% end %>
  </div>
</div>
