//
// Homepage Banner
//

// STANDARD STYLING
.banner { margin-bottom:$topbar-height*0.5 !important;
  .banner-text {
    h2, p { @include text-overlay; padding:0 25px; }
    h2 { margin-bottom:10px; text-transform:uppercase; }
    em { color:$primary-color; font-style:normal; }
  }
}

// RESPONSIVE STYLING
.banner {
  $bp-1: 486px;
  $bp-2: 697px;
  $bp-3: 899px;

  @include parallex-background(300px, image-url('bg.png'));
  @include min-screen($bp-1) { }
  @include min-screen($bp-2) { height:400px; }
  @include min-screen($bp-3) { height:450px; }

  .banner-overlay {
    @include background-overlay(300px);
    @include min-screen($bp-1) { }
    @include min-screen($bp-2) { height:400px; }
    @include min-screen($bp-3) { height:450px; }
  }
  .banner-text {
    margin-top:30px;
    @include min-screen($bp-1) { margin-top:70px; }
    @include min-screen($bp-2) { margin-top:100px; }
    @include min-screen($bp-3) { }

    h2 {
      font-size:emCalc(54px);
      @include min-screen($bp-1) { }
      @include min-screen($bp-2) { font-size:emCalc(72px); }
      @include min-screen($bp-3) { font-size:emCalc(102px); }
    }
    p {
      font-size:emCalc(26px);
      @include min-screen($bp-1) { }
      @include min-screen($bp-2) { font-size:emCalc(32px); }
      @include min-screen($bp-3) { font-size:emCalc(42px); }
    }
  }
}

.banner-dashboard-page { @include fancy-page(760px, image-url('bg.v1.png')); }
.banner-about-page { @include fancy-page(560px, image-url('bg.v1.png')); }

//
// Plain Page Header
//

header.hero {
  h2 { font-size:emCalc(72px); text-transform:uppercase; }
  em { color:$primary-color; font-style:normal; }
}
