.main {
  margin-top:$topbar-height*0.5; // push content down for sticky nav

  tr.current_user { background:$primary-color;
    td { color:white; font-weight:700; }
  }

  .sparkline { margin:0 auto; width:180px;
    // & * { @include box-sizing(content-box); } // for some reason, not fixing popover box...
  }

}
.controller-home.action-index, .controller-posts.action-index, .controller-home.action-dashboard {
  .main { margin-top:0; }
}
