$topbar-hover-color: $off-white;
$accent-color: $primary-color;

body > header {
  @include box-shadow(0 4px $primary-color);
}

//
// OVERRIDES

.top-bar .top-bar-section > ul > li > a:not(.button) { padding: 0 10px;
  &:hover { background:$topbar-hover-color; }
}
.top-bar-section .has-form { padding-top:$topbar-height/6; }
.top-bar-section .dropdown {
  label { color:darken($accent-color, 5%); }
  // li:hover { background:$topbar-hover-color; }  // TODO: not working for some reason
}
.top-bar-section ul li.active > a { background:$accent-color; }
