.post {
  @include standard-box-shadow;
  background:white; padding:1.5em;
  &.summary { margin-bottom:2.5em;
    .more { margin-bottom:0; }
  }
  header {
    h3 { margin-top:0; margin-bottom:0; }
    h3.subheader { margin-top:-0.25em; margin-bottom:0.5em; }

    .headline { display:inline-block; }
    img { border:1px solid $dark-gray; vertical-align:top; margin:0 emCalc(18px) emCalc(18px) 0; }
  }
}
